body {
    margin: 0;
    padding: 0;
    font-family: Inria Sans !important;
    width: 100%;
}

/* Navigation barre */
li {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    margin: 0;
    padding: 0;
    box-shadow: 0px 2px 0px 0px black;
    text-align: center;
    background-color: white;
}

.search-item {
    display: flex;
    align-items: center;
    background-color: #F4F4F4;
    margin-left: 5%;
}

.dropdown-icon,
.search-icon {
    cursor: pointer;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
}

.vertical-line {
    width: 2px;
    height: 30px;
    background-color: #AAAAAA;
}

.search-box input {
    border: none;
    border-radius: 5px;
    background-color: #F4F4F4;
}

.liens,
.nav-link {
    color: white !important;
    font-weight: 700;
    background-color: #FABC01;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

nav .nav-link {
    width: 150px;
}

#navbarNav {
    margin-left: 100px;
}

#navbarNav li a {
    box-shadow: 0px 4px 4px 0px #D9D9D9;
    text-align: center;
    margin-top: 15px;
    margin-left: 50px;
}

/* offcanvas */
.offcanvas {
    height: 590px;
    width: 340px;
    margin-top: 95px;
    box-shadow: 4px 4px 4px 4px #3f3f3f;
}

.offcanvas-header button {
    color: #FABC01 !important;
}

.offcanvas-body .category-list li {
    margin-top: 1rem;
}

.offcanvas-body .category-list ul {
    margin: 0;
    padding: 0;
    text-align: right;
    margin-right: 50px;
}

.offcanvas-body .category-list li a {
    color: black !important;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    box-shadow: none !important;
}

/* bg-image */
#intro-example {
    object-fit: cover;
    height: 800px;
}

.mask {
    background-color: white !important;
    width: 350px;
    height: 200px;
    border-radius: 5px;
    margin-top: 14%;
    margin-left: 23%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.mask h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: black;
}

.text-white {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.mask a {
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 4px 0px #D9D9D9;
    width: 200px;

}


/* Produits */
.line {
    border: 3px solid #FABC01;
}

.produits {
    margin-top: 5rem;
    width: 100%;
}

.produits .container {
    margin-bottom: 3rem;
}

.produits .square {
    width: 220px;
    height: 250px;
    border: 3px solid #FABC01;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.produit .square img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.produits h1 {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    color: black;
}

.produit .info h1 {
    font-size: 20px;
    font-weight: bold;
}

.produit .info {
    font-weight: bold;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info h1,
.info h3 {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.circle {
    width: 24px;
    height: 20px;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: auto;
    gap: 20px;
    padding-bottom: 2rem;
}

.suggestion {
    min-width: 200px;
    height: 50px;
    background-color: #D9D9D9;
    margin-left: 10px;
}

.seemore {
    text-align: center;
    margin-bottom: 50px;
}

.seemore .liens {
    padding: 10px 20px 10px 20px;
}

/* detailproduit */
.ficheproduit {
    width: 100%;
    margin-top: 100px;
}

.infoproduit,
.infodetail {
    display: flex;
}

.imgproduits {
    width: 500px;
    height: 520px;
    border-radius: 7px;
    box-shadow: 1px 1px 1px 2px #D9D9D9;
    position: relative;
    overflow: hidden;
}

.imgproduits img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.detailproduit {
    margin-left: 50px;
    width: 60%;
}

.detailproduit .line {
    width: 100%;
}

.imagesproduit {
    margin-top: 40px;
}

.imagesproduit,
.actionproduit {
    display: flex;
}

.infoproduit {
    margin-left: 3%;
}



.imagesproduit img {
    width: 152px;
    height: 152px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 2px #D9D9D9;
    margin-left: 20px;
}

.imagesproduit i {
    font-size: 22px;
    font-weight: 700;
    color: #142A54;
    margin-top: 50px
}

.actionproduit {
    margin-left: 70px;
}

.actionproduit a {
    margin-left: 20px;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0px 4px 4px 0px #D9D9D9;
}

.infoproduit h1 {
    font-size: 30px;
    font-weight: 700;
}

.infoproduit i {
    font-size: 25px;
}

.infoproduit P {
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 10px;
}

.infoproduit h3 {
    font-size: 30px;
    font-weight: 700;
    color: #FABC01;
}

.infocontainer {
    width: 500px;
    height: 500px;
    background-color: #F6F6F6;
    padding: 10px 20px 30px 20px;
    margin-left: 70px;
    box-shadow: 0px 4px 4px 0px #D9D9D9;
    display: flex;
    margin-top: 20px;
}

.infocontainer h5 {
    font-size: 32px;
    line-height: 38.40px;
    font-weight: 700;
}

.info-item {
    color: #FABC01;
}

.dashes h5 {
    color: black;
    margin-left: 15px;
}

/* footer */

footer {
    margin: 0;
    padding: 0;
    background-color: #FABC01;
    color: white;
    border-top-left-radius: 120% 70%;
    border-top-right-radius: 120% 30%;
    height: 500px;
}

footer .container {
    color: white !important;
}

footer .row {
    padding-top: 120px;
    text-align: left;
}

footer .row h5 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

footer .row li {
    margin-top: 1rem;
}

footer .row a {
    font-size: 20px;
    font-weight: 400;
    color: #ffffff !important;
    text-align: center;
}

footer .row .linefooter {
    margin-top: 80px;
}

.linefooter {
    text-align: center;
    color: white;
    margin-top: 4%;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    margin: 0 10px;
    color: white;
    font-size: 24px
}

.linefooter .line {
    border: 4px solid white;
    width: 80%;
    margin-left: 9%;
}

/* bienvenue.blade.php */

.connexion {
    max-width: 487px;
    margin-top: 50px;
    padding: 20px;
    height: 600px;
    box-shadow: 2px 2px 2px 2px gray;
    ;
    border-radius: 6px;
    text-align: center;
    padding: 4%;
    margin-left: 40%;

}

.connexion p {
    border: 1px solid #AAAAAA;
    border-radius: 24px;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0px 0px 4px #AAAAAA;
}

.connexion p a {
    color: black;
    font-size: 20px;
    font-weight: 700;
}

.stage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stage-item img {
    max-width: 25%;
    border-radius: 10px;
}

.stage-text {
    flex: 1;
    padding: 20px;
}

h2 {
    margin: 0;
}

.stage-container p {
    margin-top: 10px;
}

/* Suggestions */
.suggestionpage {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}
