@media (max-width : 1400px) {
    .search-item {
        margin-left: 6rem;
    }
    #navbarNav .navbarmenu{
        margin-left: 13rem;
    }
    #navbarNav .navbarmenu li a {
        margin-left: 2rem;
    }
    .deroulante{
        margin-left: 1rem;
    }

}
@media (min-width: 1200px) and (max-width: 1400px){
    /* detailproduit */
    .ficheproduit .container{
       margin-left:3%;
    }
    .infodetail P {
       font-size: 1.1rem;
       font-weight: 700;
       margin-top: 13px;
       margin-bottom: 13px;
       text-align: left;
   }
   .detailproduit{
       margin-left: 25px;
   }
   .infocontainer {
       margin-left: 80px;
   }
   .connexion {
    width: 35%;
    }
}
@media (max-width: 1200px) {
    /* nav */
    .search-item {
        margin-left: 4rem;
    }
    #navbarNav .navbarmenu{
        margin-left: 6rem;
    }
    #navbarNav .navbarmenu li a {
        margin-left: 1rem;
    }
    .deroulante{
        margin-left: 1rem;
    }
    .actionproduit{
        margin-left: 0;
    }

    /* footer */
    footer {
        text-align: center;
        height: 40%;
    }

    footer .row {
        margin: 0;
        text-align: center;
        flex-direction: column;
    }

    .linefooter {
        padding-top: 20px;
    }

    footer .row h5 {
        margin-top: 20px;
    }
    /* connexion */
    .connexion {
        width: 40%;
    }
}

@media (min-width: 960px) and (max-width: 1200px){
    /* detailproduit */
    .ficheproduit .container{
        margin-left:3%;
        margin-right: 0%;
     }
     .infodetail P {
        font-size: 1rem;
        font-weight: 700;
        margin-top: 11px;
        margin-bottom: 11px;
        text-align: left;
    }
    .detailproduit{
        margin-left: 20px;
    }
    .infocontainer {
        margin-left: 40px;
    }
}
@media (max-width: 991px) {
    /* nav */
    .search-item{
        width:auto;
    }
    .navbarmenu .nav-link{
        background-color: transparent;
        color: black !important;
    }
    .deroulante{
        color: black;
        font-size:40px;
        font-weight:bold;
    }
    #navbarNav .navbarmenu li a {
        color: black;
        box-shadow: none;
        font-size: 25px;
    }
    .navbarmenu{
        align-items:end;
    }
    /* connexion */
    footer{
        border-radius: 0px;
    }

    .detailproduit,
    .imagesproduit,
    .actionproduit,
    .infocontainer {
        margin-top: 10%;
        margin-left: 0%;
    }
    .dashes h5 {
        width: 100%;
    }


}
@media (max-width: 768px) {
    body {
        overflow-x: hidden;
        min-width: 320px;
    }
    /* connexion */
    .connexion {
        width: 65%;
    }
}
@media(max-width:480px){
    .seemore {
        width:auto;  
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }
    .seemore .newsletters span {
        padding: 5px 10px;
        
    }
    .seemore .newsletters {
        margin: 0 auto;
    }
    .seemore .newsletters span a {
        font-weight: 500;
        font-size: 13px;
    }
    /* connexion */
    .connexion {
        width: 95%;
    }
}
/* footer */
@media (max-width: 320px) {
    footer {
        min-width: 100%;
        text-align: center;
    }

}

/* Smartphones */
@media (max-width: 480px) {}
/* Smartphones to Tablets */
@media (min-width: 481px) and (max-width: 767px) {  }
/* Tablets */
@media (min-width: 768px) and (max-width: 959px) {  }
/* Desktop */
@media (min-width: 960px) and (max-width: 1199px) {  }
/* Large Display */
@media (min-width: 1200px) {  }



